body {
  margin: 0;
  padding: 2em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lead-highest {
  background-color: #ffd70033; /* Gold with transparency */
  font-weight: bold;
}
.lead-secondhighest {
  background-color: #c0c0c033; /* Silver with transparency */
  font-weight: bold;
}
.lead-thirdhighest {
  background-color: #cd7f3233; /* Bronze with transparency */
  font-weight: bold;
}