body {
  margin: 0;
  padding: 2em;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h2 {
  font-size: 36px;
  margin-bottom: 0.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
table, th, td {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
th {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
td {
  border: 1px solid #ccc;
  padding: 8px;
}
.sortable {
  cursor: pointer;
  text-decoration: underline;
}
.lead-highest {
  background-color: #ffd70033; /* Gold with transparency */
  font-weight: bold;
}
.lead-second-highest {
  background-color: #c0c0c033; /* Silver with transparency */
  font-weight: bold;
}
.lead-third-highest {
  background-color: #cd7f3233; /* Bronze with transparency */
  font-weight: bold;
}

.hide-on-print {
  display: block;
}
@media print {
  .hide-on-print {
    display: none;
  }
}

.player-stats {
  margin-top: 30px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
.player-details {
  padding: 15px;
  border: 1px solid #ccc;
  width: calc(33% - 12px);
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  .player-details {
    width: calc(25% - 12px);
  }
}

@media screen and (max-width: 800px) {
  .player-details {
    width: calc(50% - 12px);
  }
}

@media screen and (max-width: 600px) {
  .player-details {
    width: 100%;
  }
}

@media print {
    .page, .page-break { break-after: page; }
}

.achievements-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  font-size: 20px;
}
.achievements-list:empty::before {
  content: "🚫";
  font-size: 40px;
}
.achievements-list > div {
  width: calc(50% - 12px);
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 5px;
}

.achievements-list h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
}
.achievements-list p {
  margin: 0;
}

.achievement {
  display: flex;
  align-items: center;
  background: #ffd70033;
  border-radius: 10px;
  border: solid 1px #ccc;
}
.achievement.bonus {
  background: #c0c0c033;
  border: solid 1px ;
}
.achievement.personal {
  background: #cd7f3233;
}

.achievement img {
  max-width: 20vw;
}

@media screen and (max-width: 1000px) {
  .achievements-list > div {
    width: 100%;
  }
}

.tet-details {
  display: flex;
  flex-wrap: wrap;
  border-radius: 4px;
}
.tet-details h3 {
  margin-top: 0;
}
.tet-details div {
  padding: 10px;
}
.tet-details img {
  max-width: 30vw;
  max-height: 300px;
  border-radius: 5px;
}